<div id="edit_form_comments_container">
  <%= form_for [image, comment], remote: true do |f| %>
    
    <div class="form-group">
      <%= f.text_field :body, class: 'form-control', placeholder: "Enter comment here" %>
    </div>

    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success', data: {disable_with: 'Saving..'} %>
      <%= link_to "Cancel", "#", class: 'btn btn-info', id: 'cancel_edit', data: {disable_with: 'Backing up..'} %>
    </div>
  <% end %>
</div>