<div class="form-group spacing">
  <% if !(current_page?('/users/sign_up')) %>
    <%= link_to "Don't have an account? Register here instead.", new_user_registration_path %><br>
  <% end %>
  
  <% if !(current_page?('/users/sign_in')) %>
    <%= link_to "Sign in here.", new_user_session_path %><br>
  <% end %>

  <% if !(current_page?('/users/password/new')) %>
    <%= link_to "Forgot your password?", new_user_password_path %><br>
  <% end %>
</div>