<div id="favouriter">
  <%= form_for [image, Favourite.new], remote: true do |f| %>
    <%= f.hidden_field :image_id, value: image.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="form-group">
      <%= f.submit "Favourite", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>